.auto-width-input {
    width: fit-content;
}

.coverletters-container {
  display: flex;
  flex-direction: row;
}

.coverletter-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.coverletter-field label {
    font-size: 1.17em;
    padding-bottom: 0.5em;
}
.coverletter-field textarea {
    /* width: 100%; */
    max-width: 800px;
    min-width: 500px;
    border: 0.1em solid #000;
    padding: 1em;
    border-radius: 1em;
    resize: vertical;
    margin-right: 1.5em;
}

.jobView{
  filter: drop-shadow(1em 1em 2em #DFEAEA);
}

.editJobView{
  filter: drop-shadow(1em 1em 2em #DFEAEA);
  height: 80vh;
}

.options {
    /* border-radius: 25px; */
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    /* margin-top: auto; */
  }

  .update:hover {
    background-color: #177717;
  }
  
  .cancel {
    background: #E34234;
  }

  .cancel:hover {
    background-color: #cf2222;
  }