
.navBar {
    font-family: "Montserrat", sans-serif;
    height: 15vh;
    display: flex;
    flex-grow:1;
    justify-content: space-between;
    color: black;
    background-color: #00C3FF;
    align-items: center;
    gap: 20px;
}


.navBar-Left {
    font-size: 2em;
    padding-left: 1.5em;
    display: flex;
    align-items: center;
    color: white;
}

.navBar-Right {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 25px;
}

.navBar-Buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}


.navBar-Button {
    display: flex;
    /* background-color: beige; */
    padding: 5px 10px;
    border-radius: 10px;
    /* color: black; */
    /* border: 2px solid black; */
    background: #0F52BA;
    color:#f0f0f0;
}
.navBar-Button:hover {
    background-color: #4851AC;
}

.searchBar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 10px;
    color: black;
    font-size: 15px;
    pointer-events: none;
}

.searchBar {
    padding: 5px 10px 5px 35px;
    font-size: 15px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: white;
}

.navBar-Button {
    background: #0F52BA;
    color:#f0f0f0;
}

